<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>323408901173-duoee1v19bqb6n14qarp2t1jp56msede.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323408901173-duoee1v19bqb6n14qarp2t1jp56msede</string>
	<key>API_KEY</key>
	<string>AIzaSyBMQKJYBbJq4BQaAK5piYK-Zjy8JvizErs</string>
	<key>GCM_SENDER_ID</key>
	<string>323408901173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testSocial</string>
	<key>PROJECT_ID</key>
	<string>test-social-1e843</string>
	<key>STORAGE_BUCKET</key>
	<string>test-social-1e843.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323408901173:ios:319b4b0571cfca66</string>
	<key>DATABASE_URL</key>
	<string>https://test-social-1e843.firebaseio.com</string>
</dict>
</plist>